<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Agent</title>
    <style>
        span {
            color: #299d8f;
            font-style:bold;
        }   
    </style>
</head>
<body style="flex-direction: column; align-items: center; justify-content: center; height: 98vh; display:flex;">
    <div style="text-align: center; margin-top: 50px;">
        <img src="https://res.cloudinary.com/dlh5jsgam/image/upload/v1790178196/hydralakes-logo_pdfood.png" alt="HydraLakes Logo" style="width: 100px; height: auto;">
        <h1 style="color:#299d8f; font-family: Arial, Helvetica, sans-serif;">HydraLakes Blog Agent</h1>
        <p style="font-family: Arial, Helvetica, sans-serif; color:rgb(89, 89, 89)">Creates blog posts, saves to <span>Company's Drive</span> and <span>notify</span> stakeholders via mails.</p>
    </div>
</body>
</html>